{% extends "base.html" %}

{% block title %}Добавить Питомца{% endblock %}

{% block content %}
<h2>Добавить Питомца</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        Имя {{ form.name }}
    </div>
    <div class="form-group">
        Размер{{ form.size }}
    </div>
    <div class="form-group">
        Возраст {{ form.age }}
    </div>
    <div class="form-group">
        Окрас {{ form.color }}
    </div>
    <div class="form-group">
        Длина шерсти {{ form.hair_length }}
    </div>
    <div class="form-group">
        Пол {{ form.gender }}
    </div>
    <div class="form-group">
       Описание {{ form.description }}
    </div>
    <div class="form-group">
        Цена {{ form.price }}
    </div>
    <div class="form-group">
        Информация о партнёре {{ form.partner_info }}
    </div>
    <div class="form-group">
        Город {{ form.city }}
    </div>
    <div class="form-group">
        Доступность {{ form.availability(class="form-control") }}
    </div>
    <div class="form-group">
       ID приюта {{ form.shelter_id(class="form-control") }}
    </div>
    <div class="form-group">
        Загрузить фотографию {{ form.image_file(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit }}
    </div>
</form>
{% endblock %}
