{% extends "base.html" %}

{% block title %}Добавить приют{% endblock %}

{% block content %}
<div class="card">
    <h2>Добавить приют</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            Имя {{ form.name }}
        </div>
        <div class="form-group">
           Номер телефона {{ form.phone_number }}
        </div>
        <div class="form-group">
            Почта {{ form.email }}
        </div>
        <div class="form-group">
            Адрес {{ form.address }}
        </div>
        <div class="form-group">
            Город {{ form.city }}
        </div>
        <div class="form-group">
            Индекс {{ form.zip_code }}
        </div>
        <div class="form-group">
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock %}
