{% macro user_form(roles, action='create', user=None, errors=None) %}
<form method="post">
    <div class="mb-3">
        <label class="form-label" for="login">Логин</label>
        <input class="form-control {{ 'is-invalid' if errors.get('login') }}" type="text" id="login" name="login" value="{{ user.login or '' }}" required>
        {% if errors.get('login') %}
            <div class="invalid-feedback">
                {{ errors['login'] }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Пароль</label>
        <input class="form-control {{ 'is-invalid' if errors.get('password') }}" type="password" id="password" name="password">
        {% if errors.get('password') %}
            <div class="invalid-feedback">
                {{ errors['password'] }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label" for="last_name">Фамилия</label>
        <input class="form-control {{ 'is-invalid' if errors.get('last_name') }}" type="text" id="last_name" name="last_name" value="{{ user.last_name or '' }}">
        {% if errors.get('last_name') %}
            <div class="invalid-feedback">
                {{ errors['last_name'] }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label" for="first_name">Имя</label>
        <input class="form-control {{ 'is-invalid' if errors.get('first_name') }}" type="text" id="first_name" name="first_name" value="{{ user.first_name or '' }}">
        {% if errors.get('first_name') %}
            <div class="invalid-feedback">
                {{ errors['first_name'] }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label" for="middle_name">Отчество</label>
        <input class="form-control {{ 'is-invalid' if errors.get('middle_name') }}" type="text" id="middle_name" name="middle_name" value="{{ user.middle_name or '' }}">
        {% if errors.get('middle_name') %}
            <div class="invalid-feedback">
                {{ errors['middle_name'] }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label" for="role">Роль</label>
        <select class="form-select {{ 'is-invalid' if errors.get('role_id') }}" id="role" name="role_id">
            {% for role in roles %}
            <option value="{{ role.id }}" {% if user.role_id|string == role.id|string %}selected{% endif %}>{{ role.name }}</option>
            {% endfor %}
        </select>
        {% if errors.get('role_id') %}
            <div class="invalid-feedback">
                {{ errors['role_id'] }}
            </div>
        {% endif %}
    </div>
    <button class="btn btn-primary">Сохранить</button>
</form>
{% endmacro %}