{% extends 'base.html' %}

{% block content %}
<h2>Информация о пользователе</h2>
<table class="table">
    <tbody>
        <tr>
            <th>Идентификатор</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Логин</th>
            <td>{{ user.login }}</td>
        </tr>
        <tr>
            <th>Фамилия</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>Отчество</th>
            <td>{{ user.middle_name or 'Нет отчества' }}</td>
        </tr>
        <tr>
            <th>Роль</th>
            <td>{{ user.role_name or 'Нет роли' }}</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" href="{{ url_for('users') }}">Назад к списку пользователей</a>
{% endblock %}
