{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<form method="POST" action="{{ url_for('auth.register') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        Имя {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        Фамилия {{ form.surname(class="form-control") }}
    </div>
    <div class="form-group">
       Отчество {{ form.patronymic(class="form-control") }}
    </div>
    <div class="form-group">
        Номер телефона {{ form.phone_number(class="form-control") }}
    </div>
    <div class="form-group">
        Почта {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        Адрес {{ form.address(class="form-control") }}
    </div>
    <div class="form-group">
        Город {{ form.city(class="form-control") }}
    </div>
    <div class="form-group">
        Пароль {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        Подтвердить пароль {{ form.confirm_password(class="form-control") }}
    </div>
    <div class="form-group">
        Роль {{ form.role(class="form-control") }}
    </div>
    <div class="form-group" id="shelter-field" style="display: none;">
        Приют {{ form.shelter(class="form-control") }}
    </div>
    <div class="form-group">
        Предпочтения {{ form.preferences(class="form-control") }}
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#role').change(function() {
            if ($(this).val() === 'representative') {
                $('#shelter-field').show();
            } else {
                $('#shelter-field').hide();
            }
        }).trigger('change');
    });
</script>
{% endblock %}
